for rc in colors.rc; do
  [ -f $rc ] && source ~/.${rc}
done

function killall () 
{
  killer="kill"
  pgrep "^${1}$"  | tee >(cat <(echo -n "Killing ") -) \
                  | xargs $killer && echo "Killed" 
} 

function xkcdpasswd ()
{
  sort --sort=random /usr/share/dict/words \
          | head -n $1 \
          | tr \\n - \
          | sed s:-$:: && echo
}

function shred ()
{
  for f in $*; do
    dd if=/dev/urandom of=$f count=$(wc -c $f | awk '{ print $1 }') bs=1
  done
}

function shredR ()
{
  find $1 -type f \
    | while read f; do
       shred $f
      done
}

function srm ()
{
  for item in $*; do
    shred $item
    rm -f $item
  done
}

function srmR ()
{
  shredR $1
  rm -rf $1
}

function swap ()
{
  t=`mktemp`
  mv $1 $t && \
  mv $2 $1 && \
  mv $t $2 && \
  echo "swapped $1 and $2"
}

function gb () {
  git branch 2> /dev/null | pcregrep -o '(?<=\* ).+' | tr \\n ' '
}

mkdir -p /tmp/trash
function rm ()
{
  [ "x$1" = "x-rf" ] && shift
  mv $* /tmp/trash/
  echo "Moved $* to /tmp/trash/"
}

function getmac ()
{
  ifconfig $1 | pcregrep -o '(?<=lladdr )([0-9a-f][0-9a-f]:){5}[0-9a-f][0-9a-f]'
}

function changemac ()
{
  IF=$1
  MAC=$2
  b="${GREEN}[+]${DARKGREEN}"

  if [ `getmac ${IF}` = ${MAC} ]; then
    echo -e "${GREEN}MAC already set${RESET}"
  else
    echo -e "$b Taking down ${IF}..."
    sudo ifconfig ${IF} down
    echo -e "$b Changing mac address to ${MAC}" 
    sudo ifconfig ${IF} lladdr ${MAC}
    echo -e "$b Bringing ${IF} back up..."
    sudo ifconfig ${IF} up
    echo -e "$b Acquiring dhcp lease for ${IF}..."
    sudo dhclient ${IF}
  fi

  echo "$b Testing..."
  while : ; do
    ping -c 1 google.com && break
  done
  echo -e "${GREEN}READY${RESET}"
}


function watch () 
{
  DELAY=$1
  shift
  CMD=$1
  shift
  ARGS=$*
  while :; do
    clear
    eval "$CMD $ARGS"
    sleep $DELAY
  done
}

